form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form button {
  background-color:  #9ACD32;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 80%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 40px 20px 20px;
}

img.avatar {
  width: 20%;
  border-radius: 100%; 
}

.container {
  padding: 16px;
}

span.psw {
  float: left;
  padding-top:16px;
  padding-right: 300px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: left;
  }
  .cancelbtn {
     width: 110%;
  }
}
@media screen and (min-width: 415px){
  .container {
    flex-direction: row;
  }
}